

.font-white-noto-900{
    color:white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:900;
}

.font-white-noto-400{
    color:white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:400;
}

.font-black-noto-400{
    color:black;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:400;
}

.font-ccc-noto-400{
    color:#ccc;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:400;
}

.font-999-noto-400{
    color:#999;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:400;
}

.font-666-noto-400{
    color:#666;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:400;
}

.font-333-noto-900{
    color:#333;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:900;
}
.font-333-noto-700{
    color:#333;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:700;
}
.font-333-noto-400{
    color:#333;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:400;
}